In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('data/Australian Vehicle Prices.csv')
pd.set_option('display.max_rows', None)
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [3]:
print(df.shape)
df.dropna(inplace=True)

(16734, 19)

In [4]:
df['Transmission'] = df['Transmission'].str.replace('-', '')
df['Transmission'].replace('', np.nan, inplace=True)

one_hot_encoded = pd.get_dummies(df['Transmission'])
one_hot_encoded = one_hot_encoded.astype(int)
df = pd.concat([df, one_hot_encoded], axis=1)

In [5]:
df['Doors'] = df['Doors'].str.replace(' Doors', '').str.replace(' 7 Seats', '4').str.replace(' 5 Seats', '3').str.replace(' 4 Seats', '4').str.replace(' 8 Seats', '4').str.replace('2 Seats', '2').str.replace(' 9 Seats', '6').str.replace('6 Seats', '4').str.replace('3 Seats', '2')

In [6]:
df['Doors'] = df['Doors'].astype(int)

In [7]:
df['Kilometres'] = df['Kilometres'].str.replace('-', ' ').str.replace('/', ' ').str.replace(' ', '')
df['Kilometres'].replace('', np.nan, inplace=True)
df['Kilometres'].dropna(inplace= True)

In [8]:
df['Kilometres']= df['Kilometres'].astype(float)

In [9]:
df['Seats'] = df['Seats'].str.replace('Seats', '')
df['Seats'] = df['Seats'].astype(int)

In [10]:
df[['Engine_cyl_num', 'Engine_total_vol']] = df['Engine'].str.split(',', expand = True)

In [11]:
df['Engine_cyl_num'] = df['Engine_cyl_num'].str.replace('cyl', '').str.replace('L', '')
df['Engine_cyl_num'] = df['Engine_cyl_num'].astype(int)

In [12]:
df['Engine_total_vol'] = df['Engine_total_vol'].str.replace('L', '')
df['Engine_total_vol']= df['Engine_total_vol'].replace('', np.nan)
df.dropna(inplace=True)

In [13]:
df['Engine_total_vol'] = df['Engine_total_vol'].astype(float)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14363 entries, 0 to 16733
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              14363 non-null  object
 1   Year               14363 non-null  float64
 2   Model              14363 non-null  object
 3   Car/Suv            14363 non-null  object
 4   Title              14363 non-null  object
 5   UsedOrNew          14363 non-null  object
 6   Transmission       14363 non-null  object
 7   Engine             14363 non-null  object
 8   DriveType          14363 non-null  object
 9   FuelType           14363 non-null  object
 10  FuelConsumption    14363 non-null  object
 11  Kilometres         14363 non-null  float64
 12  ColourExtInt       14363 non-null  object
 13  Location           14363 non-null  object
 14  CylindersinEngine  14363 non-null  object
 15  BodyType           14363 non-null  object
 16  Doors              14363 non-null  int32
 17  Seats              14363 non-null  int32
 18  Price              14363 non-null  object
 19  Automatic          14363 non-null  int32
 20  Manual             14363 non-null  int32
 21  Engine_cyl_num     14363 non-null  int32
 22  Engine_total_vol   14363 non-null  float64
dtypes: float64(3), int32(5), object(15)
memory usage: 2.4+ MB

In [15]:
df['Year'] = df['Year'].astype(int)

In [16]:
df.drop(['Engine', 'Title', 'FuelType', 'ColourExtInt', 'Brand', 'Transmission', 'Model', 'Location', 'Car/Suv', 'DriveType', 'Location', 'CylindersinEngine', 'BodyType'], axis=1, inplace=True)
df.columns

Index(['Year', 'UsedOrNew', 'FuelConsumption', 'Kilometres', 'Doors', 'Seats',
       'Price', 'Automatic', 'Manual', 'Engine_cyl_num', 'Engine_total_vol'],
      dtype='object')

In [18]:
df['UsedOrNew'].unique()
df['FuelConsumption'].unique()# concertar
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14363 entries, 0 to 16733
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              14363 non-null  int32
 1   UsedOrNew         14363 non-null  object
 2   FuelConsumption   14363 non-null  object
 3   Kilometres        14363 non-null  float64
 4   Doors             14363 non-null  int32
 5   Seats             14363 non-null  int32
 6   Price             14363 non-null  object
 7   Automatic         14363 non-null  int32
 8   Manual            14363 non-null  int32
 9   Engine_cyl_num    14363 non-null  int32
 10  Engine_total_vol  14363 non-null  float64
dtypes: float64(2), int32(6), object(3)
memory usage: 1009.9+ KB