In [38]:
import pandas as pd
import numpy as np

In [39]:
df= pd.read_csv('data/Australian Vehicle Prices.csv')
pd.set_option('display.max_rows', None)
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [40]:
print(df.shape)
df.dropna(inplace=True)

(16734, 19)

In [41]:
df['Transmission'] = df['Transmission'].str.replace('-', '')
df['Transmission'].replace('', np.nan, inplace=True)

one_hot_encoded = pd.get_dummies(df['Transmission'])
one_hot_encoded = one_hot_encoded.astype(int)
df = pd.concat([df, one_hot_encoded], axis=1)

In [42]:
df['Doors'] = df['Doors'].str.replace(' Doors', '').str.replace(' 7 Seats', '4').str.replace(' 5 Seats', '3').str.replace(' 4 Seats', '4').str.replace(' 8 Seats', '4').str.replace('2 Seats', '2').str.replace(' 9 Seats', '6').str.replace('6 Seats', '4').str.replace('3 Seats', '2')

In [43]:
one_hot_encoded = pd.get_dummies(df['UsedOrNew'])
one_hot_encoded = one_hot_encoded.astype(int)
df = pd.concat([df, one_hot_encoded], axis=1)

In [44]:
df['FuelConsumption'] = df['FuelConsumption'].str.replace('L / 100 km', '')
df['FuelConsumption'] = df['FuelConsumption'].astype(float)

In [45]:
df['Doors'] = df['Doors'].astype(int)
df['Price'].replace('POA', '', inplace= True)
df['Price'] = df['Price'].replace('', np.nan) 
df['Price'] = df['Price'].astype(float)

In [46]:
df['Kilometres'] = df['Kilometres'].str.replace('-', ' ').str.replace('/', ' ').str.replace(' ', '')
df['Kilometres'].replace('', np.nan, inplace=True)
df['Kilometres'].dropna(inplace= True)

In [47]:
df['Kilometres']= df['Kilometres'].astype(float)

In [48]:
df['Seats'] = df['Seats'].str.replace('Seats', '')
df['Seats'] = df['Seats'].astype(int)

In [49]:
df[['Engine_cyl_num', 'Engine_total_vol']] = df['Engine'].str.split(',', expand = True)

In [50]:
df['Engine_cyl_num'] = df['Engine_cyl_num'].str.replace('cyl', '').str.replace('L', '')
df['Engine_cyl_num'] = df['Engine_cyl_num'].astype(int)

In [51]:
df['Engine_total_vol'] = df['Engine_total_vol'].str.replace('L', '')
df['Engine_total_vol']= df['Engine_total_vol'].replace('', np.nan)
df.dropna(inplace=True)

In [52]:
df['Engine_total_vol'] = df['Engine_total_vol'].astype(float)

In [53]:
df['Year'] = df['Year'].astype(int)

In [54]:
df.drop(['Engine', 'UsedOrNew', 'Title', 'FuelType', 'ColourExtInt', 'Brand', 'Transmission', 'Model', 'Location', 'Car/Suv', 'DriveType', 'Location', 'CylindersinEngine', 'BodyType'], axis=1, inplace=True)
df.columns

Index(['Year', 'FuelConsumption', 'Kilometres', 'Doors', 'Seats', 'Price',
       'Automatic', 'Manual', 'DEMO', 'NEW', 'USED', 'Engine_cyl_num',
       'Engine_total_vol'],
      dtype='object')

In [55]:
df['FuelConsumption'].unique()# concertar
df.to_csv('data/clean_data.csv', index=False)

In [67]:
df_cap = df[df['Price'] <= 100000]
df_cap.to_csv('data/clean_capping_data.csv')