In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('data/Australian Vehicle Prices.csv')
pd.set_option('display.max_rows', None)
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [3]:
print(df.shape)
df.dropna(inplace=True)

(16734, 19)

In [4]:
df['Transmission'] = df['Transmission'].str.replace('-', '')
df['Transmission'].replace('', np.nan, inplace=True)

one_hot_encoded = pd.get_dummies(df['Transmission'])
one_hot_encoded = one_hot_encoded.astype(int)
df = pd.concat([df, one_hot_encoded], axis=1)

In [5]:
df['Doors'] = df['Doors'].str.replace(' Doors', '').str.replace(' 7 Seats', '4').str.replace(' 5 Seats', '3').str.replace(' 4 Seats', '4').str.replace(' 8 Seats', '4').str.replace('2 Seats', '2').str.replace(' 9 Seats', '6').str.replace('6 Seats', '4').str.replace('3 Seats', '2')

In [6]:
one_hot_encoded = pd.get_dummies(df['UsedOrNew'])
one_hot_encoded = one_hot_encoded.astype(int)
df = pd.concat([df, one_hot_encoded], axis=1)

In [7]:
df['FuelConsumption'] = df['FuelConsumption'].str.replace('L / 100 km', '')
df['FuelConsumption'] = df['FuelConsumption'].astype(float)

In [8]:
df['Doors'] = df['Doors'].astype(int)
df['Price'].replace('POA', '', inplace= True)
df['Price'] = df['Price'].replace('', np.nan) 
df['Price'] = df['Price'].astype(float)

In [9]:
df['Kilometres'] = df['Kilometres'].str.replace('-', ' ').str.replace('/', ' ').str.replace(' ', '')
df['Kilometres'].replace('', np.nan, inplace=True)
df['Kilometres'].dropna(inplace= True)

In [10]:
df['Kilometres']= df['Kilometres'].astype(float)

In [11]:
df['Seats'] = df['Seats'].str.replace('Seats', '')
df['Seats'] = df['Seats'].astype(int)

In [12]:
df[['Engine_cyl_num', 'Engine_total_vol']] = df['Engine'].str.split(',', expand = True)

In [13]:
df['Engine_cyl_num'] = df['Engine_cyl_num'].str.replace('cyl', '').str.replace('L', '')
df['Engine_cyl_num'] = df['Engine_cyl_num'].astype(int)

In [14]:
df['Engine_total_vol'] = df['Engine_total_vol'].str.replace('L', '')
df['Engine_total_vol']= df['Engine_total_vol'].replace('', np.nan)
df.dropna(inplace=True)

In [15]:
df['Engine_total_vol'] = df['Engine_total_vol'].astype(float)

In [17]:
df['Year'] = df['Year'].astype(int)

In [18]:
df.drop(['Engine', 'UsedOrNew', 'Title', 'FuelType', 'ColourExtInt', 'Brand', 'Transmission', 'Model', 'Location', 'Car/Suv', 'DriveType', 'Location', 'CylindersinEngine', 'BodyType'], axis=1, inplace=True)
df.columns

Index(['Year', 'FuelConsumption', 'Kilometres', 'Doors', 'Seats', 'Price',
       'Automatic', 'Manual', 'DEMO', 'NEW', 'USED', 'Engine_cyl_num',
       'Engine_total_vol'],
      dtype='object')

In [21]:
df['FuelConsumption'].unique()# concertar
df.corr().round(2)

,Year,FuelConsumption,Kilometres,Doors,Seats,Price,Automatic,Manual,DEMO,NEW,USED,Engine_cyl_num,Engine_total_vol
Year,1.00,-0.26,-0.75,0.12,0.04,0.43,0.25,-0.25,0.22,0.25,-0.34,-0.22,-0.23
FuelConsumption,-0.26,1.00,0.23,-0.26,0.04,0.13,-0.04,0.04,-0.04,-0.02,0.04,0.56,0.63
Kilometres,-0.75,0.23,1.00,-0.13,-0.00,-0.43,-0.24,0.24,-0.22,-0.25,0.33,0.15,0.25
Doors,0.12,-0.26,-0.13,1.00,0.35,-0.13,0.18,-0.18,0.01,0.04,-0.04,-0.24,-0.31
Seats,0.04,0.04,-0.00,0.35,1.00,0.02,0.22,-0.22,0.02,0.02,-0.03,0.02,0.06
Price,0.43,0.13,-0.43,-0.13,0.02,1.00,0.11,-0.11,0.17,0.10,-0.19,0.38,0.33
Automatic,0.25,-0.04,-0.24,0.18,0.22,0.11,1.00,-1.00,0.06,0.06,-0.08,-0.01,-0.05
Manual,-0.25,0.04,0.24,-0.18,-0.22,-0.11,-1.00,1.00,-0.06,-0.06,0.08,0.01,0.05
DEMO,0.22,-0.04,-0.22,0.01,0.02,0.17,0.06,-0.06,1.00,-0.03,-0.65,-0.05,-0.07
NEW,0.25,-0.02,-0.25,0.04,0.02,0.10,0.06,-0.06,-0.03,1.00,-0.74,-0.07,-0.09
USED,-0.34,0.04,0.33,-0.04,-0.03,-0.19,-0.08,0.08,-0.65,-0.74,1.00,0.09,0.12
Engine_cyl_num,-0.22,0.56,0.15,-0.24,0.02,0.38,-0.01,0.01,-0.05,-0.07,0.09,1.00,0.85
Engine_total_vol,-0.23,0.63,0.25,-0.31,0.06,0.33,-0.05,0.05,-0.07,-0.09,0.12,0.85,1.00